Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vsconfig
Team13_Game.code-workspace
.ignore
Build

# Ignoring MidiEngine Plugin Binaries and Intermediate Files
Plugins\MIDIEngineBroadcasters\Binaries
Plugins\MIDIEngineBroadcasters\Intermediate
Plugins\MidiEngineCore\Intermediate
Plugins\Wwise\Binaries
Plugins\Wwise\Intermediate
Plugins\WwiseNiagara\Binaries
Plugins\WwiseNiagara\Intermediate
Plugins\Wwise\Source\WwiseSoundEngine\Public\Generated